*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}

*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,:active{
    outline: none;
}

a:focus,a:active{
    outline: none;
    color:inherit;
}

nav,footer,header,aside{
    display: block;
}

html,body{
	height: 100vh;
	width: 100vw;
    padding: 0px;
    margin: 0px;
	font-size: 100%;
    min-width: 360px;
	line-height: 1;
    font-family: 'Montserrat';
	font-size: 20px;
    color: #000000;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
    background: #F9F7F4;
}
input,button,textarea{
    font-family:inherit;
}

input::-ms-clear{
    display: none;
}

button{
    cursor: pointer;
}

button::-moz-focus-inner {
    padding:0;border:0;
}

a, a:visited{
    text-decoration: none;
    color:inherit;
}

a:hover{
    text-decoration: none;
    color:inherit;
}

ul li{
    list-style: none;
}

img{
    vertical-align: top;
}

h1,h2,h3,h4,h5,h6{
    font-size:inherit;
    font-weight: 400;
}

.wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
@font-face {
    font-family: 'Baskerville Old Face';
    src: url('fonts/Baskerville Old Face.eot');
    src: local('Baskerville Old Face'),
    url('fonts/Baskerville Old Face.eot?#iefix') format('embedded-opentype'),
    url('fonts/Baskerville Old Face.woff') format('woff'),
    url('fonts/Baskerville Old Face.woff2') format('woff2'),
    url('fonts/Baskerville Old Face.ttf') format('truetype');
  }
/*-----------------------------------------------------------------------------------------------------------*/
.page{
    margin: 50px;
}
.full-screen {
    position: relative;
	height: 85.4vh;
	display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(0px, 100%);
    opacity: 0;
    transition: 2s ease 0s;
}
.active{
    transform: translate(0px, 0px);
    opacity: 1;
}
@media(max-width: 768px){
    .full-screen {
        flex-direction: column;
    }
}
.full-screen__image{
    flex: 0 0 749px;
    height: 797px;
    margin: 0px 7.4% 0px 0px;
}
@media(max-width: 1691px){
    .full-screen__image{
        flex: 0 0 620px;
        height: 660px;
    }
}
@media(max-width: 1421px){
    .full-screen__image{
        flex: 0 0 502px;
        height: 534px;
    }
}
@media(max-width: 1186px){
    .full-screen__image{
        margin: 0px 5% 0px 0px;
    }
}
@media(max-width: 1158px){
    .full-screen__image{
        flex: 0 0 424px;
        height: 451px;
    }
}
@media(max-width: 970px){
    .full-screen__image{
        flex: 0 0 322px;
        height: 343px;
    }
}
@media(max-width: 768px){
    .full-screen__image{
        display: none;
    }
}

.full-screen__image img{
    width: 100%;
    height: 100%;
}
.full-screen__body {
    position: relative;
    z-index: 2;
	display: flex;
    justify-content: center;
	flex-direction: column;
    max-width: 725px;
}
.full-screen__title {
    font-size: 144px;
    font-family: 'Baskerville Old Face';
}
@media(max-width: 1552px){
    .full-screen__title {
        font-size: 120px;
    }
}
@media(max-width: 1294px){
    .full-screen__title {
        font-size: 100px;
    }
}
@media(max-width: 1076px){
    .full-screen__title {
        font-size: 80px;
    }
}
@media(max-width: 863px){
    .full-screen__title {
        font-size: 60px;
    }
}
@media(max-width: 768px){
     .full-screen__title {
        margin: 0 auto;
        font-size: 80px;
    }
}
@media(max-width: 480px){
    .full-screen__title {
        font-size: 60px;
    }
}
@media(max-width: 401px){
    .full-screen__title {
        font-size: 52px;
    }
}
.full-screen__subtitle {
    font-size: 45px;
    font-family: 'Montserrat';
    margin: 0px 0px 70px;
}
@media(max-width: 1552px){
    .full-screen__subtitle {
        font-size: 38px;
        margin: 0px 0px 50px;
    }
}
@media(max-width: 1294px){
    .full-screen__subtitle {
        font-size: 31px;
        margin: 0px 0px 30px;
    }
}
@media(max-width: 1076px){
    .full-screen__subtitle {
        font-size: 25px;
    }
}
@media(max-width: 863px){
    .full-screen__subtitle {
        font-size: 19px;
        margin: 0px 0px 25px;
    }
}
@media(max-width: 768px){
    .full-screen__subtitle {
       margin: 0 auto;
       font-size: 25px;
   }
}
@media(max-width: 480px){
    .full-screen__subtitle {
        font-size: 19px;
   }
}
@media(max-width: 401px){
    .full-screen__subtitle {
        font-size: 16px;
   }
}
.full-screen__text {
    font-size: 30px;
    font-family: 'Montserrat';
    margin: 0px 0px 90px;
}
@media(max-width: 1552px){
    .full-screen__text {
        font-size: 24px;
        margin: 0px 0px 70px;
    }
}
@media(max-width: 1294px){
    .full-screen__text {
        font-size: 20px;
        margin: 0px 0px 50px;
    }
}
@media(max-width: 1076px){
    .full-screen__text {
        font-size: 18px;
        margin: 0px 0px 30px;
    }
}
@media(max-width: 863px){
    .full-screen__text {
        font-size: 15px;
        margin: 0px 0px 30px;
    }
}
@media(max-width: 768px){
    .full-screen__text{
       margin: 30px auto;
       max-width: 450px;
       font-size: 20px;
   }
}
@media(max-width: 480px){
    .full-screen__text{
       font-size: 18px;
   }
}
@media(max-width: 401px){
    .full-screen__text{
       font-size: 16px;
   }
}
.social {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: absolute;
    top: 420px;
}
@media(max-width: 1552px){
    .social {
        top: 350px;
    }
}
@media(max-width: 1294px){
    .social {
        top: 260px;
    }
}
@media(max-width: 1076px){
    .social {
        top: 220px;
    }
}
@media(max-width: 863px){
    .social {
        top: 180px;
    }
}
@media(max-width: 768px){
    .social {
        top: 770px;
    }
}
@media(max-width: 480px){
    .social {
        top: 530px;
    }
}
@media(max-width: 401px){
    .social {
        top: 520px;
    }
}
@media(max-width: 1294px){
    .social {
        width: 80%;
    }
}
@media(max-width: 1186px){
    .social {
        width: 100%;
    }
}
@media(max-width: 1076px){
    .social {
        width: 80%;
    }
}
@media(max-width: 863px){
    .social {
        width: 90%;
    }
}
@media(max-width: 480px){
    .social {
        width: 100%;
    }
}
.marg_{
    margin: 0px 30px 0px 0px;
}
@media(max-width: 480px){
    .marg_{
        margin: 0px 20px 0px 0px;
    }
}
.social__button{
    background-color: #d6100d79;
    padding: 24px;
    border-radius: 50%;
    border: 2px solid #000000;
}
.social__link{
    transition: 0.3s ease-out 0s;
}
.social__link:hover{
    margin-top: -30px;
}
.social__link:active .social__button{
    background-color: rgba(214, 17, 13, 0.6)
}
@media(max-width: 768px){
    .social__link:hover{
        margin-top: 0px;
    }
}
@media(max-width: 1294px){
    .social__button{
        padding: 18px;
    }
}
@media(max-width: 1076px){
    .social__button{
        padding: 13px;
    }
}
@media(max-width: 863px){
    .social__button{
        padding: 10px;
    }
}
@media(max-width: 768px){
    .social__button{
        border: 1px solid #000000;
    }
}
@media(max-width: 401px){
    .social__button{
        padding: 7px;
    }
}
.social__button img{
    width: 38px;
    height: 38px;
}
@media(max-width: 1294px){
    .social__button img{
        width: 33px;
        height: 33px;
    }
}
@media(max-width: 1076px){
    .social__button img{
        width: 25px;
        height: 25px;
    }
}
@media(max-width: 863px){
    .social__button img{
        width: 20px;
        height: 20px;
    }
}
@media(max-width: 401px){
    .social__button img{
        width: 19px;
        height: 19px;
    }
}
.full-screen__img{
    display: none;
}
@media(max-width: 768px){
    .full-screen__img{
        display: block;
        margin: 30px auto;
    }
}
@media(max-width: 480px){
    .full-screen__img{
        margin: 15px auto;
    }
    .full-screen__img img{
        flex: 268px;
        height: 285px;
    }
}
